body {
    background-color: #7d5007;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: 'Reem Kufi Ink', sans-serif;
    transition: 1s;
    color: white;
}

.container {
    position: absolute;
    width: 80vh;
    height: 48vh;
    top: 25%;
    left: 30%;
    border: 1px solid black;
}

#main-input {
    width: 50%;
    height: 7vh;
    border: none;
    outline: none;
    font-size: 30px;
    text-align: right;
    background-color: #7d5007;
    color: white;
    transition: 0.5s;
}

.buttons-calc {
    width: 52%;
    height: 85%;
    float: left;
}

.button-option {
    width: 9vh;
    height: 5vh;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    float: left;
    padding-top: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

.alert {
    position: fixed;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    opacity: 0;
    transition: opacity 0.6s; /* 600ms to fade out */
    display: block;
    width: 80vh;
    left: 30%;
    bottom: 15%;
    height: 6%;
    text-align: center;
}
  
/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.calc-history {
    position: absolute;
    width: 46.5%;
    height: 82%;
    margin-left: 52%;
    text-align: left;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.info-settings {
    position: absolute;
    width: 46.5%;
    height: 82%;
    margin-left: 52%;
    text-align: left;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.calc-settings {
    position: absolute;
    width: 46.5%;
    height: 82%;
    margin-left: 52%;
    text-align: left;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.calc-options {
    margin-top: 1vh;
    margin-left: 1.2vh;
    position: absolute;
    width: 50%;
    height: 13%;
    cursor: pointer;
}

.calc-option {
    width: 31%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 30px;
    float: left;
}

.calc-option i {
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#calc-settings, #info-settings {
    display: none;
}

.settings-titles {
    position: sticky;
    color: white;
    text-align: center;
    font-size: 30px;
}

.settings-items {
    width: 30%;
    margin-left: 10%;
    height: 3vh;
    font-size: 20px;
    color: white;
    text-align: left;
    margin-top: 1vh;
    float: left;
}

.settings-items-options {
    width: 40%;
    margin-left: 10%;
    height: 3vh;
    font-size: 20px;
    color: white;
    text-align: left;
    margin-top: 1vh;
    float: left;
}

input[type = "text"] {
    width: 100%;
    height: 3vh;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid white;
}

.settings-info-text {
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
    color: white;
}

.calc-history-item {
    width: 80%;
    margin-left: 10%;
    height: 10%;
}

.actual-history {
    width: 100%;
    height: 75%;
    overflow: scroll;
}

.actual-history::-webkit-scrollbar {
    display: none;
}

.clear-button {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 10%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.settings-text {
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.report-button {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    cursor: pointer;
    height: 10%;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}